$background-color: #E5E3E3;
$nav-footer-color: #565655;
$nav-link-color: white;
$nav-hover-color: #E1140E;
$font-weight: (
    "regular": 400,
    "medium": 500,
    "bold": 700
);
$footer-text-color: white;
$register-border-color: black;
$tab-color: #E1140E;
$facebook-color: #3E83FD;
$twitter-color: #1EB3FD;
$instagram-color: #FB1AA8;
$first-row-color: #6E6E6E;
$second-row-color: #B9B4B7;
$winner-color: #89FE5E;
$loser-color: #FE5D5D;